@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*-------------HOME BANNER-----------------*/
*{
  box-sizing: border-box;
}
.home-banner-container{
  width: 100vw;
  height: 100vh;
 
}
.home-banner{
  width: 100vw;
  height: 90%;
  background: url("food3.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  
display: flex;
justify-content: center;
align-items: center;
}
.home-banner::after{
  height: 90%;
  content: "";
  position: absolute;
  z-index: 1;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6)
}

.container{
  z-index: 2;
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;

}
.banner-content h1{
  font-size: 50px;
  font-weight: 700;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  text-align: center;
  line-height: 60px;
}
.banner-content input{
  outline: none;
  border: none;
  padding: 0.3em 0;
  align-self: center;
  
font-size: 1.3rem;
}
.search{
  background-color: white;
display: grid;
grid-template-columns: auto 38%  auto 38% auto;
font-size: 1.4rem;

}
label{
  color: #666666;
  padding: 0.3em 0.3em;
}
.icons{
  background-color: #EB6825;
  color: white;
 text-align: center;
 align-self: center;
 padding: 0.3em 0;
 border : 1.5px solid #EB6825;
 cursor: pointer;
}
.features{
  color: white;
  text-align: center;
  margin: 1em 0;
  font-size: 1rem;
width: 100%;
}
.features span{
  padding: 0 0.5em ;
}
/*-------------INCREMENT COUNTER-----------------*/
.increment-counter{
  width: 100%;
  height: auto;
  background-color:#EB6825 ;
}
.counter-container{
 
  color: white;
  font-size: 1.3rem;
  padding: 1em;
  text-align: center;
  margin: auto;
}
.counter-container span{
  padding: 0 0.5em ;
}
/*-------------HEADER-----------------*/
.header{
  z-index:2;
  display : flex;
  position: absolute;
  top:0;
  height: 50px;
  width: 100vw;
  
  color: white;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
}
.header div{
  padding:1em;
 cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
 padding: 0 1em;
 font-weight: 700;
}
a:hover{
  color: #EB6825;
}
button{
  background-color: #EB6825;
  color: white;
  font-size: 1rem;
  padding: 0.4em 0.8em;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 600;
  border : 1.5px solid #EB6825;

}
.hover:hover{
  color: #EB6825;
  background-color: white;
  border : 1.5px solid #EB6825;
}
/*-------------HOW IT WOKRKS-----------------*/
.how-it-works{
  width: 100vw;
  background-color: #FFFFFF;
  padding-top: 2em;
  
}
.how-it-works h1{
  padding: 0;
  margin:0;
  margin-bottom: 0.2em;
}

p{
 
 
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.works-grid{

  display: grid;
  grid-template-columns: auto auto auto;
  gap:25px;
  margin: 3em 0;
}

.circle{
  margin:auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border : 2px solid #EB6825;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h3{
  letter-spacing: 2px;
}

.container2{
  width: 80%;
  max-width: 1100px;
  margin: auto;
  text-align: center;

}

/*-------------BARBEQUEUE BANNER----------------*/
.barbeque-banner{
  padding: 1em 0;
  height: 300px;
  color: white;
  background : url("images/barbeque.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.overshadow::after{
  height: 300px;
  content: "";
  position: absolute;
  z-index: 1;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6)
}

/*-------------FOOTER----------------*/
.footer{
  width: 100vw;
  padding: 2em 0;
  background-color: #282C35;
  color: white;

}
.footer-grid{
 text-align: left;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:40px;
}
.footer-grid h3{
  padding:0;
  margin-bottom:0.2em;
}

hr{
  padding:0;
  margin:0;
  border:none;
  height:0.5px;

  background-color: #404040;
}
ul{
  padding:0 ;
  margin: 2em 0;
  cursor: pointer;
 font-family:Arial, Helvetica, sans-serif;
  list-style-type: none;
  font-size: 0.9rem;
}
li{
  padding: 0.4em 0;
  transition: padding 1s;
}
li:hover{
  padding-left: 1em ;
  color:#EB6825 ;
}
.copyrights{
  text-align: left;
  padding-top: 1em;
}
.copyrights a{
  color: #EB6825;
}
.footer-grid p{
  margin: 1em 0;
 }
.icon{
 

  color: white;
 text-align: center;
 align-self: center;
 padding: 0.8em ;

}